body{
    
    margin: 0 auto;
    padding: 0;
}

/* /////////////////////////////                part1                 //////////////////////////////////////////////////////// */

div.w3-container{
    padding-left: 0px;
    padding-right: 0px;

}
.pa{
    margin-bottom: 0px;
}
.c{
  position: relative;
}
.q{
  height: 100vh;
}

.menu-holder {
    color: #fff;
    top:0;
    z-index:10;
    width:100%;
}
.nav-item{
    margin-right: 25px;
   
}
.nav-link{
	color: #FDF2E9 !important ;
	font-weight: bold;
	font-size: 20px;
}
nav a:hover {
    
    border-bottom: 3px solid #0f4c75;
    font-size: 120%;
  }
.slider-holder {
    position: absolute;
    width: 100%;
    top:0;   
    z-index:-1; 
}
.d-block{
    height: 100vh;
    object-fit: cover;
    opacity: 0.7;
}
.carousel-caption{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 400px !important;
}
.carousel-caption h5{
    
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color:#0f4c75;
    
}
.carousel-caption a{
    background: transparent;
    border-color:  #0f4c75;
    border: 3px solid;
    border-radius: 25px;
    font-size: 25px;

}
.carousel-caption a:hover{
    background:#0f4c75 ;
    border-color:  #0f4c75;
    border-radius: 25px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn{
    padding-bottom: 350px;
   
}
.carousel-caption span{
    color:#1b262c;
}
:root {
    --animate-duration: 5s; 
    --animate-delay: 3s;
  }
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    visibility: hidden; 
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width:767px){
  nav a:hover {
    border-bottom: 3px solid #0f4c75;
    font-size: 40%;
  }
  
    .nav-link{
        font-weight: bold;
        font-size: 10px;
    }
    .menu-holder{
        font-size: 30px;
        padding:0px 10px;
    }
    .navbar-collapse{
        background:rgba(0,0,0,0.5);
    }
    .carousel-caption{
        padding-bottom: 300px !important ;
        margin-bottom: 0px;
    }
    .carousel-caption h5{
        font-size: 40px ;
       
    }
    .btn{
        padding-bottom: 5px;
    }

  }

@media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption{
        padding-bottom: 300px;
    } 
      .carousel-caption h5{
          font-size: 50px;
          
      }
      .btn{
          padding-bottom: 250px;
      }
      .navbar-collapse{
        background:rgba(0,0,0,0.5);
    }
  }

  
   