@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@800&family=Roboto:wght@500&display=swap');
div.w3-container{
    padding-left: 0px;
    padding-right: 0px;

}
html {
  overflow-x: initial !important;
}

.pa{
    margin-bottom: 0px;
}
body{
  overflow-x: hidden;
  color: black;
}


.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(6, 33, 46, .6) !important;
}
a.nav-link{
  font-family: 'Roboto', sans-serif;
}
.navbar-brand img{
  height: 2rem;
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  border-bottom: 2px solid white;
    font-size: 110%;
}

.custom-toggler.navbar-toggler { 
  border-color: #1b262c; 
} 


.carousel-item{
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative !important;
}
.v{
    opacity: .7;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, 0.6);
}

.carousel-caption{
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  left: 0;
  right: 0;
  
}

.carousel-caption h5{

  font-family: 'Poppins', sans-serif !important;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color:#0f4c75;
  /* text-shadow: .1rem .1rem .8rem black; */
  
}

.carousel-caption span{
  color:#1b262c;
}

.carousel-caption a{
  font-family: 'Montserrat', sans-serif ;
  background: transparent;
  border-color:  #1b262c;
  color: #1b262c;
  border: 3px solid;
  border-radius: 25px;
  font-size: 22px;

}
.carousel-caption a:hover{
  background:#0f4c75 ;
  border-color:  #0f4c75;
  border-radius: 25px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* :root {
  --animate-duration: 5s; 
  --animate-delay: 3s;
} */

@media (max-width:767px){
  .carousel-caption h5{
    font-size: 40px;
  }
  .carousel-caption a{
    font-size: 15px;
  }
}

/* @media (min-width: 768px) and (max-width: 1025px) {
  .collapse {
      display: none !important;
  }
} */

/* --------------------------  section 2  ----------------------------- */
.he{
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif ;
  font-size: 54px;
  color:#0f4c75 ;
  text-align: center;
}
.au{
  
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.h{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif ;
}

.container{
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:30px;
  margin-left: 0px;
  margin-right: 0px;
}
.content p{
  text-align: left;
}

.container .card{
  position: relative;
  max-width: 250px;
  height: 215px;
  background: #0f4c75;
  color: white;
  margin: 50px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover{
  height: 700px;
}

.container .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 0px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content
{
  position: relative;
  margin-top: -140px;
  padding: 10px 10px;
  text-align:center ;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width:767px){
  .he{
    font-size: 35px;
  }
  .au{
    padding-top:20px ;
  }
}

.sl{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height:auto;
}

.slider .items img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: auto;
  /* margin: 0 auto; */
  /* transition: all linear 0.4s; */
}
.slick-prev:before,
.slick-next:before {
  color: #0f4c75 !important;
}

@media (max-width:767px){
  .slider{
    width: 300px !important;
    height:auto;
  }
  .slider .items img{
    width: 300px !important;
    height:auto;
  }
}

@media (max-width:1024px) and (min-width:768px){
  .slider{
    width: 600px !important;
    height:auto;
  }
  .slider .items img{
    width: 600px !important;
    height:auto;
  }
}
  
















