@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@800&family=Roboto:wght@500&display=swap');
html {
    overflow-x: initial !important;
  }
body{
    overflow-x: hidden;
    color: black;
  }
*{
    box-sizing: border-box;
  }
  button:focus {outline:0;}

  ::-webkit-scrollbar
  {
    border-radius: 20px;
    width: 8px;
  }
  
  ::-webkit-scrollbar-track{
      box-shadow: linear-gradient(125deg,#3498db,#34495e);
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb{
      background: linear-gradient(125deg,#3498db,#34495e);
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover{
      background: linear-gradient(125deg,#0f4c75,#1b262c);
  }

  .navbar{
      position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(6, 33, 46, .6) !important;
  }
  .navbar-inner {
    background:transparent;
}
  a.nav-link{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }
  .navbar-brand img{
    height: 2rem;
  }
  .navbar-nav li{
    padding-right: .7rem;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover{
    border-bottom: 2px solid white;
      font-size: 110%;
  }
  .custom-toggler.navbar-toggler { 
    border-color: #1b262c; 
  } 

/* --------------blogs------------------------- */

.blog{
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.blog h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif ;
  color: #1b262c;
  font-size: 54px;
  margin: 30px 0px;
}
.blogImage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogImage img{
  width: 500px;
  height: 500px;
  
}

.blogContent{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif ;
  font-size: 16px;
  padding: 30px 0px;
}

@media (max-width:767px){
  .blog h1{
    font-size: 35px;
  }
  .blogImage img{
    width: 300px;
    height: 300px;
    
  }
  .blogContent{
    width:90% ;
  }
}

/* ------------------ footer ----------------------- */

.constant_footer{
  min-height: 20vh;
  background: linear-gradient(60deg, #1b262c 0%, #0f4c75 100%);
  margin-top: 50px;
  width: 100%;
  display: block;
}

.constant_footer_inner{
  width: 100%;
  margin: auto;
  padding: 30px 10px 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-items{
  /* width: 25%; */
  padding: 10px 20px;
  box-sizing: border-box;
}
.fi{
  height: 32px;
  width: auto;
  margin-bottom: 20px;
}
.footer-items p{
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-size: 16px;
  line-height: 22px;
}

.social-media a {
  font-size: 14px;
  height: 30px !important;
  width: 30px !important;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: .3s;
  display: inline-block;
  cursor: pointer;
}
.social-media a path{
  cursor: pointer;
}
.social-media a svg{
  cursor: pointer;
}
i.fab{
  cursor: pointer;
}
i.fab:hover{
  cursor: pointer;
}
.social-media a:hover{
  background-color: #FFFFFF;
  cursor: pointer;
  color: #0f4c75;
}

.cr{
  /* margin: 10px 0px 20px 0px; */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .footer-items {
    width: 100%;
}
}